<section class="homepage-intro">
  <!-- navigation bar -->
  <nav class="homepage p-2">
    <div class="container-fluid">
      <div class="d-flex justify-content-between">
        <div>
          <a href="index.html"><img class="logo" src="../assets/img/logo.png" alt=""></a>
        </div>
        <div>
          <h4 class="text-white">Q<span class="color-primary">uote</span> </h4>
        </div>
      </div>
    </div>
  </nav>

  <!-- homepage -->
  <div class="intro">
    <div class="container p-5 row">
      <div class="col-md-4">
        <h1>
          <q class="text-white">
            Hustle in silence, <br> <span class="color-primary">let your success make the noise</span>
          </q>
        </h1>
        <p class="float-right author text-white">Wilson Kinyua</p>
        <a class="btn btn-lg bg-yellow mt-2" href="#">
          Learn More
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
