<div class="quotes mt-5 mb-5">
  <div class="text-center ">
    <h1 class="color-primary text-uppercase">quotes</h1>
    <p>
      Life is a beautiful journey that is meant to be embraced to the fullest every day. However, that doesn’t mean you
      always wake up ready to seize the day, and sometimes need a reminder that <span class="color-primary">life</span>
      is a great <span class="color-primary">gift</span>.
    </p>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card mt-5">
        <div class="text-center">
          <div class="icon">
            <i class="fa fa-quote-right"></i>
          </div>
          <div class="card-body">
            <h3><q>Lorem ipsum dolor sit amet</q></h3>
            <p class="card-text"><a href="#">Learn More <i class="fa fa-chevron-right "></i></a></p>
          </div>
          <!-- quote details -->
          <app-quote-detail></app-quote-detail>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="card mt-5">
        <div class="text-center">
          <div class="icon">
            <i class="fa fa-quote-right"></i>
          </div>
          <div class="card-body">
            <h3><q>Lorem ipsum dolor sit amet</q></h3>
            <p class="card-text"><a href="#">Learn More <i class="fa fa-chevron-right "></i></a></p>
          </div>
          <!-- quote details -->
          <app-quote-detail></app-quote-detail>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="card mt-5">
        <div class="text-center">
          <div class="icon">
            <i class="fa fa-quote-right"></i>
          </div>
          <div class="card-body">
            <h3><q>Lorem ipsum dolor sit amet</q></h3>
            <p class="card-text"><a href="#">Learn More <i class="fa fa-chevron-right "></i></a></p>
          </div>
          <!-- quote details -->
          <app-quote-detail></app-quote-detail>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="card mt-5">
        <div class="text-center">
          <div class="icon">
            <i class="fa fa-quote-right"></i>
          </div>
          <div class="card-body">
            <h3><q>Lorem ipsum dolor sit amet</q></h3>
            <p class="card-text"><a href="#">Learn More <i class="fa fa-chevron-right "></i></a></p>
          </div>
          <!-- quote details -->
          <app-quote-detail></app-quote-detail>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="card mt-5">
        <div class="text-center">
          <div class="icon">
            <i class="fa fa-quote-right"></i>
          </div>
          <div class="card-body">
            <h3><q>Lorem ipsum dolor sit amet</q></h3>
            <p class="card-text"><a href="#">Learn More <i class="fa fa-chevron-right "></i></a></p>
          </div>
          <!-- quote details -->
          <app-quote-detail></app-quote-detail>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="card mt-5">
        <div class="text-center">
          <div class="icon">
            <i class="fa fa-quote-right"></i>
          </div>
          <div class="card-body">
            <h3><q>Lorem ipsum dolor sit amet</q></h3>
            <p class="card-text"><a href="#">Learn More <i class="fa fa-chevron-right "></i></a></p>
          </div>
          <!-- quote details -->
          <app-quote-detail></app-quote-detail>
        </div>
      </div>
    </div>
  </div>
</div>
