<div class="quotes mt-5 mb-5" id="quotes">
  <div class="text-center ">
    <h1 class="color-primary text-uppercase">quotes</h1>
    <p>
      Life is a beautiful journey that is meant to be embraced to the fullest every day. However, that doesn’t mean you
      always wake up ready to seize the day, and sometimes need a reminder that <span class="color-primary">life</span>
      is a great <span class="color-primary">gift</span>.
    </p>
    <a class="btn bg-yellow mt-2 text-center" data-toggle="modal" data-target="#createQuote"
      (click)="displayCreateQuoteForm()">Create Quote
      <i class="fa fa-plus"></i>
    </a>
  </div>
  <!-- create quote form -->
  <div class="container mt-4" *ngIf="createQuoteForm">
    <app-quote-form (addQuote)="createNewQuote($event)"></app-quote-form>
  </div>
  <div class="row">

    <div *ngFor="let quote of quotes; let i = index" class="col-md-4 col-sm-6">
      <div class="card mt-5">
        <div class="text-center">
          <div class="icon">
            <i class="fa fa-quote-right"></i>
          </div>
          <div class="card-body">
            <h3><q>{{ quote.quoteDescription }}</q></h3>
            <p class="card-text"><a (click)="viewDetails(i)">Learn More <i class="fa fa-chevron-right "></i></a></p>
          </div>
          <!-- quote details -->
          <app-quote-detail [quote]="quote" *ngIf="quote.viewQuoteDetails"
            (deleteQuoteEvent)='deleteTheQuote($event,i)'></app-quote-detail>
        </div>
      </div>
    </div>
    <h3 *ngIf="quotes.length < 0" class="text-danger text-center">No quotes available at the moment😥!</h3>
  </div>
</div>
