/*
    author: Wilson Kinyua
    email: wilsonkinyuam@gmail.com
    license: MIT
    description: All css for the app
    create date: 20/08/2021
*/

@import "~bootstrap/dist/css/bootstrap.css";

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.float-center {
  text-align: center;
}

.logo {
  height: 60px;
}

.color-primary {
  color: rgb(235, 174, 8);
}

.bg-yellow {
  background-color: rgb(235, 174, 8);
  color: white;
}

.bg-yellow:hover {
  color: white;
}

.text-bold {
  font-weight: 900;
}

a {
  text-decoration: none;
}

p {
  color: #4b4b4b;
  line-height: 1.5em;
  font-family: "Noto Sans", sans-serif;
}

.text-italic {
  font-style: italic;
  font-size: 13px;
}

.error-block {
  font-size: 13px;
}

/* homepage */
.homepage-intro {
  background-image: url("https://cdn.pixabay.com/photo/2018/11/01/00/55/animal-3786987_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.homepage-intro h1 {
  font-size: 3.1em;
  color: #343434;
  font-weight: 900;
  text-transform: capitalize;
  font-family: "Merienda", cursive;
}
.homepage-intro p {
  font-weight: 500;
}

.author {
  font-family: "Pacifico", cursive;
}
/* quotes */
.quotes h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.icon {
  background: transparent none repeat scroll 0 0;
  border-radius: 50%;
  color: rgb(235, 174, 8);
  border: 1px solid rgb(94, 87, 87);
  display: block;
  font-size: 28px;
  float: none;
  height: 70px;
  line-height: 32px;
  margin: 0 auto;
  padding: 18px;
  width: 70px;
}

/* create quote */
#createQuote input::placeholder,
textarea::placeholder {
  font-size: 13px;
}

.card {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 11px 5px rgb(103 58 183 / 10%);
  margin-bottom: 30px;
  padding: 20px 10px;
  /* text-align: center; */
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
}

.card:hover {
  box-shadow: 0 0 11px 5px rgba(70, 41, 121, 0.25);
  background: linear-gradient(-19deg, rgba(235, 174, 8, 0.95) 0px);
}

.card-text a {
  color: rgb(87, 87, 87);
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
}
/* quote details */
.quote-details a {
  color: rgb(235, 174, 8);
}

.quote-details a:hover {
  color: rgb(235, 174, 8);
}
.fa-trash {
  color: red;
}

/* footer */
footer {
  background-color: rgb(36, 35, 33);
  padding: 30px 0;
}
footer ul {
  display: flex;
  list-style: none;
}
footer ul li {
  margin: 10px;
}
footer ul li a {
  color: rgba(228, 228, 228, 0.9);
  font-size: 23px;
}
footer ul li a:hover {
  color: rgba(228, 228, 228, 0.9);
}
footer p {
  font-size: 15px;
  color: rgba(228, 228, 228, 0.9);
}
